{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css\base.css' %}">
    <meta charset="UTF-8">
    <title>Marketplace</title>
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
<nav class="main-nav">
    <ul class="pull-left first-nav">
        <li lca><a href="{% url 'dashboard' %}">Digital Marketplace</a> </li>
    </ul>
    <ul class="pull-right">
        <li><a href="{% url 'products:list' %}">Products</a> </li>
        <li><a href="{% url 'tags:list' %}">Tags</a> </li>
        <li><a href="#">Library</a> </li>
    </ul>
</nav>
<div class="main-content">
{% block content %}
{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="{% static 'js\django.csrf.js' %}"></script>

<script>
    $(document).ready(function () {
        {% block jquery %}
        {% endblock %}
    })
</script>
</body>
</html>