{% extends "base.html" %}

{% block content %}
<!--<h1>Seller Dashboard</h1>-->
<h1>{{ title }}</h1>

{% if apply_form %}
<form method="post" action=""> {% csrf_token %}
    Rules of use
<ol>
    <li>
        Be kind
    </li>
    <li>
        Don't steal
    </li>
</ol>
    {{ apply_form }}
    <button type="submit">Submit</button>
</form>
{% endif %}

{% if products %}
<div class="pull-right col-sidebar">
    <h4>My Products<br><small>
        <a href="{% url 'sellers:product_create' %}">Add</a> | <a href="{% url 'sellers:product_list' %}">All</a>
    </small></h4>
{% include "products/product_list_snippet.html" with product_list=products %}
</div>
{% endif %}

{% if transactions %}
<div class="pull-left col-primary">
    <h3>Today's sales ({{ today_sales }}$)</h3>
    {% include "sellers/transaction_list.html" with transaction_list=transactions_today %}
    <br>
    <h3>Recent transaction history (Total:{{total_sales}}$)</h3>
{% include "sellers/transaction_list.html" with transaction_list=transactions %}
    <p>
        <a href="{% url 'sellers:transactions' %}">View all transactions</a>
    </p>
</div>
{% endif %}

{% endblock %}